[submodule "modules/base-module"]
	path = modules/base-module
	url = https://github.com/Naria-Labs/base-module
[submodule "modules/priest-module"]
	path = modules/priest-module
	url = https://github.com/Naria-Labs/priest-module
