[submodule "modules/base-module"]
	path = modules/base-module
	url = git@github.com:Naria-Labs/base-module.git
[submodule "modules/priest-module"]
	path = modules/priest-module
	url = git@github.com:Naria-Labs/priest-module.git
[submodule "modules/smith-module"]
	path = modules/smith-module
	url = git@github.com:Naria-Labs/smith-module.git